.dashboard {
  width: 100%;
  height: 100vh;
  display: flex;
}

.left {
  width: 15%;
}

.right {
<<<<<<< Updated upstream
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
  background-color: white;
  border-radius: 30px;
  opacity: 0.955;
  border: 2px solid rgb(179, 179, 179);
=======
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    background-color: white;
    opacity: 0.955;
>>>>>>> Stashed changes
}
.rightContent {
  width: 100%;
  text-align: center;
  padding-top: 40px;
}
.taskCount {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.box {
  width: 150px;
  height: 100px;
  border-radius: 20px;
  border: 2px solid rgb(162, 162, 162);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  background-color: white;
}

h2 {
  font-weight: 500;
}
.button {
    color: white;
    padding: 10px 15px;
    margin: 20px;
    font-size: 17px;
    font-family: "poppins", sans-serif;
    background-color: #002c57;
    border: none;
    border-radius: 8px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  display: inline-block;
}
.button:hover{
    color: #002c57;
    background-color: white;
    border: 1px solid #002c57;
  }
