.container {
    height: 100%;
    width: 100%;
}

.sidebar {
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    opacity: 0.98;
    padding: 50px 10px;
}

.list-item {
    margin: 10px 0;
}

.non-link {
    font-size: 27px;
    padding: 5px 15px;
}
