.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    position: absolute;
    flex-direction: row;
    top: 0;
    &__logo {
        &__taskIcon{
            height: 25px;
            color: #272727;
            padding-left: 0px;
            padding-top: 21px;
        }
        display: flex;
        flex-direction: row;
    }
    .links {
        padding: 5px 15px;
      border: none;
      background-color: transparent;
      font-family: 'poppins';
      color: #272727;
      font-weight: 400;
      font-size: 18px;
      text-decoration: none;
      text-align: center
    }
}

