.menu {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 70px;
    list-style-type: none;
    align-items: center;
    .menuitems {
      font-size: 15px;
      font-weight: 500;
  
      &:nth-child(1) {
        width: 132px; 
      }
  
      &:nth-child(2) {
        width: 240px; 
      }
  
      &:nth-child(3) {
        width: 200px; 
      }
  
      &:nth-child(4) {
        width: 40px; 
      }
    }
  }
